/* ============================ FONTS ======================================= */
/* ---------------------- Material Design Icons ----------------------------- */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(font/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(font/MaterialIcons-Regular.woff2) format('woff2'),
       url(font/MaterialIcons-Regular.woff) format('woff'),
       url(font/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
/* -------------------------- Ubuntu Web Font ------------------------------- */
/* ubuntu-regular - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('font/ubuntu-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
       url('font/ubuntu-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('font/ubuntu-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('font/ubuntu-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('font/ubuntu-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('font/ubuntu-v12-latin-regular.svg#Ubuntu') format('svg'); /* Legacy iOS */
}
/* ubuntu-700 - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url('font/ubuntu-v12-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'),
       url('font/ubuntu-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('font/ubuntu-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('font/ubuntu-v12-latin-700.woff') format('woff'), /* Modern Browsers */
       url('font/ubuntu-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('font/ubuntu-v12-latin-700.svg#Ubuntu') format('svg'); /* Legacy iOS */
}
/* ----------------------- Fontawesome brands ------------------------------- */
/*! * Font Awesome Free 5.1.1 by @fontawesome - https://fontawesome.com * 
      License - https://fontawesome.com/license 
      (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) */

@font-face {
  font-family: "Font Awesome 5 Brands";
  src: url('font/fa-brands-400.eot');
  src: url('font/fa-brands-400.eot?#iefix') format("embedded-opentype"),
       url('font/fa-brands-400.woff2') format("woff2"),
       url('font/fa-brands-400.woff') format("woff"),
       url('font/fa-brands-400.ttf') format("truetype");
  font-style: normal;
  font-weight: normal;
}

.fa,.fab,.fal,.far,.fas{
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  display:inline-block;
  font-style:normal;
  font-variant:normal;
  text-rendering:auto;
  line-height:1
}
.fab {
  font-family:"Font Awesome 5 Brands"
}
.fa-facebook:before{
  content:"\f09a"
}
.fa-facebook-f:before{
  content:"\f39e"
}
.fa-twitter:before{
    content:"\f099"
}
.fa-twitter-square:before{
    content:"\f081"
}

/* ============================= THEMEING =================================== */
.volt-body {
  height: 100%;
  background-color: #612095;
}
.volt-header {
  background-color: #612095;
}
.volt-page-content {
  background-color: #612095;
}
/* ============================= HEADER ====================================== */
.volt-home-button {
  margin-right: 1em;
}
.volt-home-icon {
  height: 32px;
  width: auto;
}
.volt-site-header {
  font-family: Ubuntu;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}
@media only screen and (max-width: 32em) {
  .volt-site-header {
    font-size: 1.25em;
  }
}
@media only screen and (max-width: 48em) {
  .mdl-layout__header-row {
    padding: 0 1em 0 1em;
  }
}

/* ============================= CALENDAR =================================== */
/* thx https://webdesign.tutsplus.com/tutorials/how-to-build-a-festive-advent-calendar-with-css-grid--cms-30070
   thx https://codepen.io/michelenl/pen/RWKaYP
*/
.grid-1 {
  display: grid;
  width: 96%;
  max-width: 56em;
  margin: 0 auto 2%;
  grid-template-rows: auto;
  grid-gap: 1.5em;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:    "t      t       t       d2      d7      d8"
                          "t      t       t       d4      d11     d12"
                          "t      t       t       d19     d9      d13"
                          "d6     d1      d24     d24     d21     d20"
                          "d17    d18     d24     d24     d5      d22"
                          "d3     d23     d16     d14     d10     d15"
                          "x      x       x       x       x       d25"
                          "d26    d27     d28     d29     d30     d31";
}
/* d25 d26 d27 d28 d29 d30 d31 */
@media only screen and (max-width: 48em) {
  .grid-1 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:  "t      t       t"
                          "d23    d20     d12"
                          "d2     d14     d4"
                          "d5     d22     d16"
                          "d1     d7      d9"
                          "d10    d11     d18"
                          "d13    d3      d15"
                          "d6     d17     d8"
                          "d19    d24     d21"
                          "x      x       d25"
                          "d26    d27     d28"
                          "d29    d30     d31";
  }
}
@media only screen and (max-width: 25em) {
  .grid-1 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:  "t      t"
                          "d23    d20"
                          "d2     d14"
                          "d5     d22"
                          "d1     d7"
                          "d10    d11"
                          "d13    d3"
                          "d6     d17"
                          "d19    d24"
                          "d12    d4"
                          "d16    d9"
                          "d18    d15"
                          "d8     d21"
                          "x      d25"
                          "d26    d27"
                          "d28    d29"
                          "d30    d31";
  }
}
.xmas-day {
  max-height: 9em;
}
.prolong {
  grid-area: x;
  text-align: center;
}
.title {
  grid-area: t;
}
.day-1 {
  grid-area: d1;
}
.day-2 {
  grid-area: d2;
}
.day-3 {
  grid-area: d3;
}
.day-4 {
  grid-area: d4;
}
.day-5 {
  grid-area: d5;
}
.day-6 {
  grid-area: d6;
}
.day-7 {
  grid-area: d7;
}
.day-8 {
  grid-area: d8;
}
.day-9 {
  grid-area: d9;
}
.day-10 {
  grid-area: d10;
}
.day-11 {
  grid-area: d11;
}
.day-12 {
  grid-area: d12;
}
.day-13 {
  grid-area: d13;
}
.day-14 {
  grid-area: d14;
}
.day-15 {
  grid-area: d15;
}
.day-16 {
  grid-area: d16;
}
.day-17 {
  grid-area: d17;
}
.day-18 {
  grid-area: d18;
}
.day-19 {
  grid-area: d19;
}
.day-20 {
  grid-area: d20;
}
.day-21 {
  grid-area: d21;
}
.day-22 {
  grid-area: d22;
}
.day-23 {
  grid-area: d23;
}
.day-24 {
  grid-area: d24;
  max-height: initial;
}
.day-25 {
  grid-area: d25;
}
.day-26 {
  grid-area: d26;
}
.day-27 {
  grid-area: d27;
}
.day-28 {
  grid-area: d28;
}
.day-29 {
  grid-area: d29;
}
.day-30 {
  grid-area: d30;
}
.day-31 {
  grid-area: d31;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  40% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  60% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  80% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  40% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  60% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  80% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
.xmas-door_frame {
  -webkit-perspective: 850px;
          perspective: 850px;
  z-index: 666;
  transform-style: preserve-3d;
  cursor: pointer;
  display: flex;
  min-height: 100%;
  width: 100%;
  height: 10em;
  position: relative;
}
.xmas-door {
  width: 100%;
  border: 2px dashed transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box  ;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 0;
     -moz-transform-origin: 0;
       -o-transform-origin: 0;
      -ms-transform-origin: 0;
          transform-origin: 0;
  -webkit-perspective: 850px;
          perspective: 850px;
  text-align: center;
  cursor: pointer;
  transition: all .2s ease-out;
}
.is-locked,
.is-locked .xmas-door,
.is-locked .xmas-input:checked + .xmas-door {
  cursor: not-allowed;
}
.is-locked:before {
    font-family: "Material Icons";
    content: "\E899";
    position: absolute;
    height: 24px;
    top: 42%;
    z-index: 1;
    font-size: 2em;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    text-indent: 2.5em;
    font-weight: bold;
    color: #612095;
}
.is-locked .xmas-input:checked + .xmas-door {
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
	transform-origin: 50% 0;
  -webkit-animation: shake .7s;
  -moz-animation: shake .7s;
	animation: shake .7s;
}
.volt-spoiler {
  font-size: .25em;
  display: block;
  line-height: 1em;
  margin-top: -2em;
  margin-right: auto;
  max-width: 8em;
  margin-left: auto;
  text-align: center;
}
.volt-count {
  display: block;
}
.xmas-door_frame:not(.is-locked):hover {
  z-index: 999;
}
.xmas-door_frame:not(.is-locked):hover .xmas-input:not(:checked) + .xmas-door {
  border-color: #fff;
}
.volt-offline-flag {
  display: none;
}
.grid-1 .xmas-input,
.xmas-door_unset {
  position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px,1px,1px,1px);
}
.volt-credits,
.volt-credits-link {
  color: #fff;
  font-size: 10px;
  text-align: center;
}
.volt-offline .volt-offline-flag {
  display: block;
  color: rgba(255,255,255,.6);
}
.xmas-door_frame {
  -webkit-perspective: 850px;
          perspective: 850px;
  z-index: 666;
  transform-style: preserve-3d;
  cursor: pointer;
  display: flex;
  min-height: 100%;
  width: 100%;
  height: 10em;
  position: relative;
}
.xmas-door {
  width: 100%;
  border: 2px dashed transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box  ;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 0;
     -moz-transform-origin: 0;
       -o-transform-origin: 0;
      -ms-transform-origin: 0;
          transform-origin: 0;
  -webkit-perspective: 850px;
          perspective: 850px;
  text-align: center;
  cursor: pointer;
  transition: all .2s ease-out;
}
.is-locked .xmas-door {
  cursor: not-allowed;
}
.is-locked .xmas-input:checked + .xmas-door {
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
	transform-origin: 50% 0;
  -webkit-animation: shake .7s;
  -moz-animation: shake .7s;
	animation: shake .7s;
}
.xmas-door_frame:not(.is-locked):hover {
  z-index: 999;
}
.xmas-door_frame:not(.is-locked):hover .xmas-input:not(:checked) + .xmas-door {
  border-color: #fff;
}

.xmas-door_clear {
  display: none;
}
.xmas-door_frame:not(.is-locked) .xmas-input:checked + .xmas-door {
  -webkit-transform: rotateY(-97deg);
          transform: rotateY(-97deg);
  -webkit-perspective-origin: 0;
          perspective-origin: 0;
  transition: all .25s ease-in;
}
/* background */
.xmas-door:after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, .7);
  width: 100%;
  height: 100%;
  top: -1em;
  left: 0;
  -webkit-clip-path: polygon(0 25%, 100% 25%, 100% 75%, 0 75%);
  clip-path: polygon(0 25%, 100% 25%, 100% 75%, 0 75%);
  -webkit-transform: rotate(-21deg);
  -moz-transform: rotate(-21deg);
  -ms-transform: rotate(-21deg);
  -o-transform: rotate(-21deg);
  transform: rotate(-21deg);
  z-index: -1;
}
.xmas-door:before {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, .7);
  width: 100%;
  height: 100%;
  top: 1em;
  left: 0;
  -webkit-clip-path: polygon(0 25%, 100% 25%, 100% 75%, 0 75%);
  clip-path: polygon(0 25%, 100% 25%, 100% 75%, 0 75%);
  -webkit-transform: rotate(-21deg);
  -moz-transform: rotate(-21deg);
  -ms-transform: rotate(-21deg);
  -o-transform: rotate(-21deg);
  transform: rotate(-21deg);
  z-index: -1;
}
.xmas-door_date {
  height: 100%;
  line-height: 2em;
  font-family: "Ubuntu";
  font-weight: 700;
  color: #612095;
  margin-top: 12px;
  margin-bottom: 24px;
}
.day-24 .xmas-door_date {
  font-size: 80px;
  line-height: 2em;
  margin-top: .5em;
}
.day-24 .is-locked:before {
  text-indent: 3.5em;
  top: 52%;
}
@media only screen and (max-width: 48em) {
  .day-24 .xmas-door_date {
    font-size: 45px;
    line-height: 2em;
  }
  .day-24 .is-locked:before {
    text-indent: 2.5em;
    top: 48%;
  }
}
.xmas-door_clear {
  display: none;
}
.xmas-door_frame:not(.is-locked) .xmas-input:checked + .xmas-door {
  -webkit-transform: rotateY(-97deg);
          transform: rotateY(-97deg);
  -webkit-perspective-origin: 0;
          perspective-origin: 0;
  transition: all .25s ease-in;
}
/* background */
.xmas-door:after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, .7);
  width: 100%;
  height: 100%;
  top: -1em;
  left: 0;
  -webkit-clip-path: polygon(0 25%, 100% 25%, 100% 75%, 0 75%);
  clip-path: polygon(0 25%, 100% 25%, 100% 75%, 0 75%);
  -webkit-transform: rotate(-21deg);
  -moz-transform: rotate(-21deg);
  -ms-transform: rotate(-21deg);
  -o-transform: rotate(-21deg);
  transform: rotate(-21deg);
  z-index: -1;
}
.xmas-door:before {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, .7);
  width: 100%;
  height: 100%;
  top: 1em;
  left: 0;
  -webkit-clip-path: polygon(0 25%, 100% 25%, 100% 75%, 0 75%);
  clip-path: polygon(0 25%, 100% 25%, 100% 75%, 0 75%);
  -webkit-transform: rotate(-21deg);
  -moz-transform: rotate(-21deg);
  -ms-transform: rotate(-21deg);
  -o-transform: rotate(-21deg);
  transform: rotate(-21deg);
  z-index: -1;
}
.xmas-door_date {
  height: 100%;
  line-height: 2em;
  font-family: "Ubuntu";
  font-weight: 700;
  color: #612095;
}
@media only screen and (max-width: 48em) {
  .day-24 .xmas-door_date {
    font-size: 45px;
    line-height: 2em;
  }
}

/* ============================= POPUP ====================================== */
/* thx: https://codepen.io/arcs/pen/BodWvJ */

.volt-dialog {
  font-family: "Ubuntu";
  display: block;
  position: absolute;
  top: 20%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 1px;
  height: 1px;
  z-index: 2;
  background-color: #612095;
  border-radius: 2em;
  -webkit-transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
  -moz-transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
  -ms-transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
  -o-transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
  transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
}
.volt-dialog .volt-dialog-content,
.volt-dialog .volt-dialog-actions {
  display: none;
}
.volt-dialog-active .volt-dialog-content,
.volt-dialog-active .volt-dialog-actions {
  display: block;
}
.volt-dialog-active .volt-dialog-actions {
  text-align: right;
}
.volt-dialog-active {
  border: none;
  box-shadow: 0 9px 46px 8px rgba(0,0,0,.14), 0 11px 15px -7px rgba(0,0,0,.12), 0 24px 38px 3px rgba(0,0,0,.2);
  width: 60%;
  top: 25%;
  height: auto;
  min-height: 20em;
  background-color: #fff;
  border-radius: 1em;
  /*overflow: scroll;
  -webkit-overflow-scrolling: touch;
  */
}
.volt-dialog-active ~ .mdl-layout__container .volt-page-content {
  overflow: hidden;
}
/*
.volt-dialog-active volt-dialog-content {
  min-height: calc(100% + 100px);
}
*/
.volt-dialog-active {
  min-height: auto;
  min-height: calc(100% + 100px);
}
@media only screen and (max-width: 48em) {
  .volt-dialog-active {
    width: 80%;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  } 
}
@media only screen and (max-width: 32em) {
  .volt-dialog-active {
    width: auto;
    margin: 0 2em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.volt-dialog-content {
  padding: 0;
}
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
  background-color: transparent;
}
.volt-dialog-content .volt-dialog-close-top {
  display: block;
  text-align: right;
  width: 96%;
}
.mdl-tabs__panel.is-active {
  margin-top: -2em;
}
.mdl-tabs__tab {
  font-size: 1.5em;
  font-weight: 700;
  color: #fff;
  text-align: center;
  width: 33%;
}
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
  font-weight: 700;
  color: #fff;
  background-color: rgba(255,255,255, .30);
}
.mdl-tabs__tab-bar {
  border: 2px solid #FFF;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  background: #612095;
  color: #fff;
}
.mdl-tabs__tab {
  border-right: 2px solid #fff;
  box-sizing: border-box;
  width: 100%;
}
.mdl-tabs__tab:last-child {
    border-right-width: 0;
}
.mdl-tabs__content-item,
.mdl-tabs__content-paragraph {
  font-family: Ubuntu;
  text-align: justify;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: auto;
  max-width: 100%;
  font-size: 1.2em;
  letter-spacing: -.5px;
}
.is-active > .mdl-tabs__content-paragraph {
  margin-top: 1em;
}
@media only screen and (max-width: 48em) {
  .mdl-tabs__content-item,
  .mdl-tabs__content-paragraph {
    font-size: 1.2em;
  }
}
@media only screen and (max-width: 32em) {
  .mdl-tabs__content-item,
  .mdl-tabs__content-paragraph {
    text-align: left;
  }
}
.mdl-tabs__content-paragraph {
  margin: 0 1em;
}
.mdl-tabs__content-item {
  padding-right: 2em;
  margin-bottom: .5em;
}
.mdl-tabs__content-header {
  text-align: center;
  font-family: Ubuntu;
  color: #612095;
  margin-left: 1em;
  margin-right: 1em;
}
.mdl-tabs__content-list {
  
}
@media only screen and (max-width: 32em) {
  .mdl-tabs__tab {
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
}
.volt-dialog-action-form {
  display: inline-block;
  vertical-align: top;
}
.volt-dialog-action-form .fab {
  font-size: 2em;
  color: #612095;
}
.volt-dialog-action-form .mdl-button {
  height: 56px;
}
@media only screen and (max-width: 48em) {
  .volt-dialog-action-form .mdl-button {
    height: 36px;
    width: 52px;
    top: .3em;
    margin: 0;
  }
}
@media only screen and (max-width: 32em) {
  .volt-dialog-action-form .mdl-button {
    height: 36px;
    width: 36px;
    min-width: 36px;
  }
}
.volt-dialog__action-share {
  height: 48px;
  line-height: 42px;
  font-family: Ubuntu;
  color: #612095;
  vertical-align: middle;
  display: inline-block;
}
@media only screen and (max-width: 32em) {
  .mdl-dialog__actions > .volt-dialog__action-share,
  .mdl-dialog__actions > .volt-dialog-action-form {
    margin-right: 0;  
  }
  .volt-dialog__action-share {
    display: block;
    line-height: 42px;
    margin-left: auto;
    text-align: left;
    width: auto;
    margin-top: -2em;
    padding-bottom: .5em;
  }
  .volt-dialog__action-share ~ .volt-dialog-action-form {
    float: left;
  }
  .volt-dialog__action-share ~ .volt-dialog-action-form .mdl-button {
    width: 52px;
  }
}
/* ========================== TRANSLATION =================================== */
/* https://www.flag-sprites.com/ select flags, check network tab for image */
.volt-select-language .mdl-menu__container {
  background: #fff;
}
.volt-lang {
  background: url(img/flags.min.png) no-repeat;
  position: absolute;
  width: 32px;
  height: 32px;
  top: .5em;
  left: .25em;
  display: block;
}

.volt-lang_en {
  background-position: -32px -64px;
}
.volt-lang_pl {
  background-position: -160px -128px;
}
.volt-lang_de {
  background-position: -64px -32px;
}
.volt-lang_fr {
  background-position: 0 -64px;
}
.volt-lang_it {
  background-position: 0 -96px;
}
.volt-lang_es {
  background-position: -160px -32px
}
.volt-lang_dk {
  background-position: -96px -32px;
}


.volt-custom-menu-action {
  padding: 0;
}
.volt-custom-menu-action:after,
.volt-custom-menu-action:before {
  content: none;
}
.volt-custom-menu-action:hover {
  background-color: transparent;
}
.volt-custom-menu-action .mdl-button {
  font-weight: inherit;
  text-shadow: none;
  text-transform: none;
  display: inline-block;
  height: 48px;
  font-family: Ubuntu;
  color: #612095;
  width: 100%;
  padding-left: 3em;
  padding-right: 1em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.volt-introductory-url {
  color: #fff;
  font-size: 1.25em;
  padding: 2px 0 0 0;
  text-align: center;
}
.volt-introductory-bold {
  font-style: italic;
  color: #fff;
  font-size: 1.25em;
  text-decoration: underline;
}
@media only screen and (max-width: 48em) {
  .volt-introductory-bold {
    font-size: 1.5em;
  } 
}
.volt-introductory-donate {
  float: right;
  clear: both;
}
.volt-introductory-text {
  color: #fff;
  font-family: Ubuntu;
  padding: 0 1em;
  margin: auto
}
.prolong .volt-introductory-paragraph {
  padding-top: 2.5em;
}
.volt-introductory-paragraph {
  font-size: 1.25em;
}
.volt-introductory-header {
  color: #fff;
  font-family: Ubuntu;
  text-align: center;
  margin-top: -0.5em;
  font-size: 2.5em;
}
@media only screen and (max-width: 48em) {
  .volt-introductory-header {
    margin-top: -1em;
  }
}
@media only screen and (max-width: 32em) {
  .volt-introductory-header {
    margin-top: -2em;
  }
}
.volt-error {
  font-size: 1.25em;
  color: #fff;
  font-family: Ubuntu;
  margin: 2em;
  text-align: center;
}
.volt-error-link {
  display: block;
  text-align: center;
  font-family: Ubuntu;
  color: #fff;
  font-size: 1.25em;
}
/* ============================= TEXTBOX ==================================== */
.volt-content-header {
  font-weight: bold;
  color: #612095;
  text-align: center;
  padding: 0;
  font-size: 1.5em;
}
.volt-text-intro {
  color: #612095;
}
.volt-content-proposal {
  font-weight: bold;
  padding: 0 1.5em 1em;
  line-height: 1.25em;
  color: #612095;
}
.volt-content-text {
  padding: 0 1.5em;
}
.volt-ny-banner {
  width: 100%;
}